.intro__list {
  margin-top: 33px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

@media (min-width: 531px) and (max-width: 1023px) {
  .intro__list {
    margin-top: 34px;
  }
}
