.footer {
  margin: 92px 48px 0;
  max-width: calc(100% - 2 * 48px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 570px) {
  .footer {
    margin: 64px auto 0;
    width: calc(100% - 2 * 16px);
    flex-direction: column;
  }
}