.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@media (min-width: 320px) and (max-width: 530px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
